.btns-filters {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 80%;
}

.btns-filters button {
  border-radius: 5px;
  cursor: pointer;
  margin: 0.3rem;
  padding: 0.2rem;
  width: 9rem;
}

.recipe-card-img {
  height: 100%;
  object-fit: cover;
  width: 7.5rem;
  margin-right: 0.5rem;
}

.done-name {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.card-done {
  border: 1px solid rgb(157, 177, 170);
  border-radius: 10px;
  box-shadow: 1px 4px 4px rgba(8, 8, 8, 0.25);
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  padding: 0.5rem;
  width: 90%;
}

.done-right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
}

.tags {
  display: flex;
  justify-content: flex-start;
}

.tag {
  border: 1px solid rgb(163, 182, 171);
  border-radius: 10px;
  margin: 0.2rem;
  padding: 0.1rem 0.3rem;
}

.share-button {
  background: transparent;
  border: none;
}

.done-favorite-infos p {
  font-size: 15px;
  font-family: Merienda;
}

.done-right-content h4 {
  color: black;
}

.done-category p {
  color: rgb(192, 190, 190);
}
