.share-and-like-buttons {
  display: flex;
  height: 2rem;
}

.like-button {
  background: transparent;
  border: none;
  margin-left: 1rem;
}

.done-right-content-favorite {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  width: 100%;
}

.card-done-favorite {
  border: 1px solid rgb(157, 177, 170);
  border-radius: 10px;
  display: flex;
  margin: 2rem;
  padding: 0.5rem;
}

.name-and-icons {
  display: flex;
}

.name-and-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.share-and-like-favorite {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  width: 5rem;
}
