.navbar-header header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  text-align: center;
  width: 90%;
}

.button-search {
  background: none;
  border: none;
  outline: none;
}

.button-search:focus {
  outline: none;
}

.navbar-no-search header {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
  text-align: center;
  width: 85%;
}

.page-title {
  font-size: x-large;
}

.search-top-btn,
.profile-top-btn {
  color: black;
  font-size: 2rem;
}
